.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.profile__avatar {
  margin-right: 20px;
  height: 190px;
  width: 190px;
  border-radius: 8px;
}

.profile__column {
  display: flex;
  flex-direction: column;
}

.profile__name {
  margin: 0 0 12px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  /* font-style: medium;  i dont need to specify the font-style bc i have @font-face @imported vendor/font.css*/
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  max-width: 420px;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.profile__description {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  margin: 0;
  max-width: 420px;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.profile__edit-button {
  margin-top: auto;
  background-color: transparent;
  border: none;
  padding: 0;
  display: flex;
  opacity: 70%;
}

.profile__edit-button:hover {
  opacity: 100%;
  transition: 0.5s;
  cursor: pointer;
}

.profile__edit-icon {
  margin-right: 8px;
}

.profile__add-button {
  margin-left: auto;
  margin-top: auto;
  padding: 0;
  width: 149px;
  height: 52px;
  border-radius: 8px;
  background-color: #212121;
  color: #fcf5e5;
}

.profile__add-button:hover {
  opacity: 80%;
  transition: 0.5s;
  cursor: pointer;
}

.profile__add-icon {
  margin-right: 8px;
  width: 12px;
  height: 12px;
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    max-width: 288px;
    align-items: center;
    text-align: center;
    padding-top: 20px;
    max-width: 288px;
  }
  .profile__avatar {
    margin-right: 0;
    margin-bottom: 12px;
    /* margin: 0 0 12px; */
    height: 80px;
    width: 80px;
  }

  .profile__name {
    font-size: 20px;
    margin: 0 0 6px;
    max-width: 288px;
  }

  .profile__description {
    margin: 0 0 32px;
    max-width: 288px;
  }

  .profile__column {
    margin: 0 0 20px;
  }

  .profile__edit-button {
    display: block;
  }

  .profile__add-button {
    margin: 0;
    width: 100%;
  }
}
